@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --teste1: #0F1A24;
  --teste2: #0c131acc;

}

@theme {
  --background: #0F1A24;
  --foreground: #ededed;
  --color-darker: #0c131acc;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
