@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --teste1: #0F1A24;
  --teste2: #ededed;

}

@theme {
  --color-primary: #0F1A24;
  --color-primary-dark: #0c131acc;
  --color-primary-light: #1e2939;

  --color-gray-light: #ededed;
  --color-gray-medium: #99a1af;
  --color-gray-button: #364153;
  --color-gray-button-hover: #4a5565;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--color-primary);
  color: var(--color-gray-light);
}
